{% extends 'layouts/app.html' %}

{% block title %}System Settings{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">SPS Settings</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Genehmigt">
                        <div class="card bg-success border-success">
                            <div class="pt-2 text-center">
                                <i class="display-4 bx bx-like mb-1 text-white"></i>
                                <h5 class="text-white">Approved</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Warnung">
                        <div class="card bg-warning border-warning">
                            <div class="pt-2 text-center">
                                <i class="display-4 bx bx-block mb-1 text-white"></i>
                                <h5 class="text-white">Warning</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Motor">
                        <div class="card bg-primary border-primary">
                            <div class="pt-2 text-center">
                                <i class="display-4 bx bx-chip mb-1 text-white"></i>
                                <h5 class="text-white">Motor</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="input-group mb-3">
                <input type="text" class="form-control" id="mac" placeholder="Enter MAC Address" aria-label="Enter MAC Address" aria-describedby="button-addon2">
                <button class="btn btn-primary waves-effect waves-light" type="button" id="findIp" onclick="pingMAC()">Find & Save IP</button>
            </div>

            <div class="progress mb-3" style="height: 20px; display: none;" id="progressContainer">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" id="progressBar">Scanning...</div>
            </div>

        </div>

        <div class="col-md-3">
            <input type="text" class="form-control" aria-label="IP Address" id="ip" placeholder="IP Address" readonly>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered mb-4">
                    <thead>
                    <tr>
                        <th>Engine No.</th>
                        <th>MAC</th>
                        <th>IP</th>
                        <th class="text-center">C</th>
                        <th>Model</th>
                        <th class="text-center">T</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for motor in motors %}
                        <tr>
                            <th scope="row">{{ motor.engine_number }}</th>
                            <td>{{ motor.mac_address }}</td>
                            <td>{{ motor.ip_address }}</td>
                            <td  class="text-center"><i class="bx bxs-circle fs-2 {% if motor.connected %} text-success {% else %} text-danger {% endif %}"></i></td>
                            <td>{{ motor.model_number }}</td>
                            <td  class="text-center"><i class="bx bxs-circle fs-2 {% if motor.tested %} text-success {% else %} text-danger {% endif %}"></i></td>
                            <td>{{ motor.created_at.strftime('%B %d, %Y, %I:%M %p') }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm waves-effect waves-light" href="{{ url_for('dashboard.edit_motor', motor_id=motor.id) }}" role="button">Edit</a>

                                <form action="{{ url_for('dashboard.delete_motor', motor_id=motor.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this motor?');">
                                    <button type="submit" class="btn btn-sm btn-danger waves-effect waves-light">Del</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        async function pingMAC() {
            const macInput = document.getElementById('mac').value;
            const findBtn = document.getElementById('findIp');
            const progressBar = document.getElementById('progressBar');
            const progressContainer = document.getElementById('progressContainer');

            const macFormatted = normalizeMac(macInput);  // Format MAC

            // Show Progress Bar and Reset
            progressContainer.style.display = 'block';
            progressBar.style.width = '0%';
            progressBar.innerText = 'Scanning...';

            // Show processing state
            findBtn.innerText = 'Processing...';
            findBtn.disabled = true;

            let progress = 0;

            // Simulate Progress Bar Animation
            const progressInterval = setInterval(() => {
                if (progress < 90) {  // Increase progress bar up to 90% before waiting for the real response
                    progress += 10;
                    progressBar.style.width = progress + '%';
                }
            }, 300);

            try {
                const response = await fetch('/ping_mac', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ mac: macFormatted })
                });

                const data = await response.json();

                if (data.ip) {
                    document.getElementById('ip').value = data.ip;
                    document.getElementById('ip').style.backgroundColor = '#2AB57D';

                    progressBar.innerText = 'IP Found!';
                    progressBar.style.width = '100%';
                    progressBar.classList.add('bg-success');

                    setTimeout(() => {
                        window.location.reload();
                    }, 1500);

                } else {
                    document.getElementById('ip').value = "IP Not Found";
                    document.getElementById('ip').style.backgroundColor = '#FD625E';

                    progressBar.innerText = 'IP Not Found';
                    progressBar.style.width = '100%';
                    progressBar.classList.add('bg-danger');
                }

            } catch (error) {
                console.error('Error:', error)
                progressBar.innerText = 'Error Occurred';
                progressBar.style.width = '100%';
                progressBar.classList.add('bg-danger');
            } finally {
                clearInterval(progressInterval);
                // Revert button state
                findBtn.innerText = 'Find & Save IP';
                findBtn.disabled = false;

                // Hide progress bar after 2 seconds
                setTimeout(() => {
                    progressContainer.style.display = 'none';
                    progressBar.classList.remove('bg-success', 'bg-danger');
                }, 2000);
            }
        }

        function normalizeMac(mac) {
            return mac.replace(/[^A-Fa-f0-9]/g, '').toUpperCase();
        }
    </script>
{% endblock %}